@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f9fa;
  height: 70px;
  margin: auto;
  padding: 10px 0;

  .text {
    display: flex;
    // height: 70px;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  button {
  display: flex;
  padding: 10px 15px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background: #007bff;
  color: white;
  font-size: medium;
  }
}

#first{
  background: url(../resources/content/bg-masthead.jpg);
  background-size: cover;
  height: 500px;
  // width: 100%;
  // max-width: 1200px;
  margin: auto;
  display: flex;

  .container { 
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text {
      color:white;
      text-align: center;
    }

    .email {
    height: 42px;
    display: flex;
    justify-content: center;
    gap:10px;
    
    input[type=email] {
      width: 250px;
      height: 42px;
      border: 1px transparent;
      padding: 10px;
      border-radius: 4px;
    }
    button {
      padding: 10px 15px;
      border: 2px solid #007bff;
      border-radius: 4px;
      background: #007bff;
      color: white;
      font-size: medium;
    }

    } 
  }
}

#second{
  background: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .font {
    color: #007bff;
    font-size: 3em;
    padding: 10px;
  }

  h3 {
    padding: 6px;
  }

  p {
    text-align: center;
    padding: 0 50px 0 50px 0;
  }

  .item1{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;    
  }
  .item2{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;   
  }
  .item3{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;   
  }
}

#third{
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  max-width: 1200px;
  margin: auto;
  
  .text{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-1.jpg);
  background-size: cover;
  }

  .text1{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto1{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-2.jpg);
  background-size: cover;
  }

  .text2{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto2{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-3.jpg);
  background-size: cover;
  }
}


