@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f9fa;
  height: 70px;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;

  .text {
    display: flex;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  button {
  display: flex;
  padding: 10px 15px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background: #007bff;
  color: white;
  font-size: medium;
  }
}

@media(max-width:600px) {
  header {
    height: auto;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 15px;

    .text {
      font-size: 1em;
    }

    button{
      padding: 8px 13px;
      font-size: smaller;
    }
  }
}

#first{
  background: url(../resources/content/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;

  .container { 
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .text {
      color:white;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }

    .email {
      height: 42px;
      display: flex;
      justify-content: center;
      gap:10px;
    }
      
    input[type=email] {
      padding: 11px 15px;
      border: 2px transparent;
      border-radius: 4px;
      font-size: medium;
      width: 340px;
      margin: auto;
    }

      button {
        padding: 10px 15px;
        border: 2px solid #007bff;
        border-radius: 4px;
        background: #007bff;
        color: white;
        font-size: medium;
    }
  }
}

@media (max-width:600px){
  #first {
      .container {
        width: 99%;
        height: auto;
        align-items: center;
      }
      .email{
        flex-wrap: wrap;
        width: 90%;

      } 
      input[type=email] {
        max-width: 257px;
      } 
      
      button {
        width: 90%;
      }
  }
}

#second{
  background: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .font {
    color: #007bff;
    font-size: 3em;
    padding: 10px;
  }

  h3 {
    padding: 6px;
  }

  p {
    text-align: center;
    padding: 0 50px 0 50px 0;
  }

  .item1{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;    
  }
  .item2{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;   
  }
  .item3{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 160%;   
  }
}

@media (max-width: 600px){
  #second {
      flex-direction: column;
      height: 900px;
  }
}

#third{
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  max-width: 1200px;
  margin: auto;
  
  .text{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-1.jpg);
  background-size: cover;
  }

  .text1{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto1{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-2.jpg);
  background-size: cover;
  }

  .text2{
    width: 50%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;   
    padding: 80px 50px;
  }

  .foto2{
  height: 300px;
  width: 50%;
  background-image: url(../resources/content/bg-showcase-3.jpg);
  background-size: cover;
  }
}

@media (max-width: 600px){
  #third{
      height: 1800px;
      width: 100%;
      max-width: 600px;
      flex-wrap: wrap;

      :nth-of-type(2){
        order: -1;
      }
      :nth-of-type(5){
        order: 1;
      }      
      .foto {
        width: 100%;
      }
      .text {
        width: 100%;
      }
      .foto1 {
        width: 100%;
      }
      .text1 {
        width: 100%;
      }
      .text2 {
        width: 100%;
      }
      .foto2 {
        width: 100%;
      }

  }
}

#fourth{
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .say {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 60px;
  }

  .faces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;

    p{
      text-align: center;
    }

    h3{
      padding: 10px;
    }

    .item{
      height: 300px;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 160%; 
    }

    .face{
      width: 200px;
      height: 200px;
      background-image: url(../resources/content/testimonials-1.jpg);
      background-size: cover;
      border-radius: 200px;
      box-shadow: 5px 6px 10px grey;
    }
  
    .face1{
      width: 200px;
      height: 200px;
      color: red;
      background-image: url(../resources/content/testimonials-2.jpg);
      background-size: cover;
      border-radius: 200px;
      box-shadow: 5px 6px 10px grey;
    }
  
    .face2{
      width: 200px;
      height: 200px;
      color: red;
      background-image: url(../resources/content/testimonials-3.jpg);
      background-size: cover;
      border-radius: 200px;
      box-shadow: 5px 6px 10px grey;
    }
  }
}

@media (max-width: 600px){
  #fourth{
       .faces{
        flex-wrap: wrap;
        gap:40px;
        padding-bottom: 60px;
      }
  }
}

#fifth{
  background: url(../resources/content/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  height: 440px;
  display: flex;

  .container { 
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text {
      color:white;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }

    .email {
    height: 42px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap:10px;
    
    input[type=email] {
      width: 350px;
      height: 42px;
      border: 1px transparent;
      padding: 10px;
      border-radius: 4px;
    }
    button {
      padding: 10px 15px;
      border: 2px solid #007bff;
      border-radius: 4px;
      background: #007bff;
      color: white;
      font-size: medium;
    }

    } 
  }
}

@media (max-width:600px){
  #fifth {
      .container {
        width: 99%;
        height: 400px auto;
        align-items: center;
      }
      .email{
        flex-wrap: wrap;
        width: 90%;

      } 
      input[type=email] {
        max-width: 257px;
      } 
      
      button {
        width: 90%;
      }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f9fa;
  height: 120px;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .contacts {
    display:flex;
    flex-direction: column;

    nav {
      display: flex;
      gap:4px;
    }
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
  }

  span{
    color: black;
    font-weight: lighter;
    padding: 6px;
  }

  p {
    font-size: 0.8em;
    padding-top: 5px;
  }

  .social {
    display: flex;
    gap: 20px;
    color:#007bff;
  }

}

@media(max-width:600px) {
  footer {
    height: 150px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 60px 20px 40px 20px;

    .social {
      font-size:x-large;
    }
  }
}


